@using System.Text.RegularExpressions

<div class="password-strength-container">
    <div class="strength-header">
        <label>Password Strength</label>
        <span class="strength-text @StrengthClass">@StrengthLabel</span>
    </div>

    <div class="progress-container">
        <div class="progress-bar @StrengthClass" style="width: @(StrengthPercent)%;"></div>
    </div>

    <ul class="criteria-list">
        <li class="@GetCriteriaClass(HasMinLength)">
            <span class="icon">@GetIcon(HasMinLength)</span>
            At least 8 characters
        </li>
        <li class="@GetCriteriaClass(HasUppercase)">
            <span class="icon">@GetIcon(HasUppercase)</span>
            One uppercase letter
        </li>
        <li class="@GetCriteriaClass(HasLowercase)">
            <span class="icon">@GetIcon(HasLowercase)</span>
            One lowercase letter
        </li>
        <li class="@GetCriteriaClass(HasNumber)">
            <span class="icon">@GetIcon(HasNumber)</span>
            One number
        </li>
        <li class="@GetCriteriaClass(HasSpecialChar)">
            <span class="icon">@GetIcon(HasSpecialChar)</span>
            One special character (!@@#$%^&*)
        </li>
    </ul>
</div>

@code {
    [Parameter] public string Password { get; set; } = string.Empty;

    public bool HasMinLength => !string.IsNullOrEmpty(Password) && Password.Length >= 8;
    public bool HasUppercase => !string.IsNullOrEmpty(Password) && Regex.IsMatch(Password, @"[A-Z]");
    public bool HasLowercase => !string.IsNullOrEmpty(Password) && Regex.IsMatch(Password, @"[a-z]");
    public bool HasNumber => !string.IsNullOrEmpty(Password) && Regex.IsMatch(Password, @"\d");
    public bool HasSpecialChar => !string.IsNullOrEmpty(Password) && Regex.IsMatch(Password, @"[!@#$%^&*]");

    private int StrengthPercent => Score * 20;

    private int Score
    {
        get
        {
            if (string.IsNullOrEmpty(Password)) return 0;
            int s = 0;
            if (HasMinLength) s++;
            if (HasUppercase) s++;
            if (HasLowercase) s++;
            if (HasNumber) s++;
            if (HasSpecialChar) s++;
            return s;
        }
    }

    private string StrengthClass => Score switch
    {
        0 => "empty",
        1 => "weak",     // Red
        2 => "fair",     // Orange
        3 => "medium",   // Yellow
        4 => "good",     // Blue/Teal
        5 => "strong",   // Green
        _ => "empty"
    };

    private string StrengthLabel => Score switch
    {
        0 => "",
        1 => "Very Weak",
        2 => "Weak",
        3 => "Fair",
        4 => "Good",
        5 => "Strong",
        _ => ""
    };

    private string GetCriteriaClass(bool met) => met ? "met" : "unmet";

    private RenderFragment GetIcon(bool met) => builder =>
    {
        if (met)
        {
            builder.AddMarkupContent(0, "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'><path fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'/></svg>");
        }
        else
        {
            builder.AddMarkupContent(0, "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'><path fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z' clip-rule='evenodd'/></svg>");
        }
    };
}