@using System.Text.RegularExpressions

<div class="password-strength">
    <label>Password Strength</label>
    <div class="strength-bar-container">
        <div class="strength-bar @strengthClass" style="width: @strengthPercent%;"></div>
    </div>
    <ul class="strength-criteria">
        <li class="@(HasMinLength ? "valid" : "invalid")">
            @GetCheckmark(HasMinLength)
            At least 8 characters long
        </li>
        <li class="@(HasUppercase ? "valid" : "invalid")">
            @GetCheckmark(HasUppercase)
            Contains at least one uppercase letter
        </li>
        <li class="@(HasLowercase ? "valid" : "invalid")">
            @GetCheckmark(HasLowercase)
            Contains at least one lowercase letter
        </li>
        <li class="@(HasNumber ? "valid" : "invalid")">
            @GetCheckmark(HasNumber)
            Contains at least one number
        </li>
        <li class="@(HasSpecialChar ? "valid" : "invalid")">
            @GetCheckmark(HasSpecialChar)
            Contains at least one special character (!@@#$%^&*)
        </li>
    </ul>
</div>

@code {
    [Parameter] public string Password { get; set; } = string.Empty;

    private int strengthPercent = 0;
    private string strengthClass = "invalid";

    public bool HasMinLength => !string.IsNullOrEmpty(Password) && Password.Length >= 8;
    public bool HasUppercase => !string.IsNullOrEmpty(Password) && Regex.IsMatch(Password, @"[A-Z]");
    public bool HasLowercase => !string.IsNullOrEmpty(Password) && Regex.IsMatch(Password, @"[a-z]");
    public bool HasNumber => !string.IsNullOrEmpty(Password) && Regex.IsMatch(Password, @"\d");
    public bool HasSpecialChar => !string.IsNullOrEmpty(Password) && Regex.IsMatch(Password, @"[!@#$%^&*]");

    protected override void OnParametersSet()
    {
        int score = 0;
        if (string.IsNullOrEmpty(Password))
        {
            strengthPercent = 0;
            strengthClass = "invalid";
            return;
        }

        if (HasMinLength) score++;
        if (HasUppercase) score++;
        if (HasLowercase) score++;
        if (HasNumber) score++;
        if (HasSpecialChar) score++;

        switch (score)
        {
            case 0:
            case 1:
                strengthPercent = 20;
                strengthClass = "invalid"; // Very Weak (Red)
                break;
            case 2:
                strengthPercent = 40;
                strengthClass = "invalid"; // Weak (Red)
                break;
            case 3:
                strengthPercent = 60;
                strengthClass = "weak"; // Medium (Yellow)
                break;
            case 4:
                strengthPercent = 80;
                strengthClass = "good"; // Good (Light Green)
                break;
            case 5:
                strengthPercent = 100;
                strengthClass = "valid"; // Strong (Green)
                break;
        }
    }

    private MarkupString GetCheckmark(bool isValid)
    {
        string svg = isValid
            ? @"<svg class='check-icon valid' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'><path fill-rule='evenodd' d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm3.844-8.791a.75.75 0 0 0-1.06-1.06L6.97 8.939 5.22 7.19a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.06 0l3.5-3.5Z' clip-rule='evenodd' /></svg>"
            : @"<svg class='check-icon invalid' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'><path fill-rule='evenodd' d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm-1.03-9.97a.75.75 0 0 1 1.06 0L8 6.94l.97-.97a.75.75 0 1 1 1.06 1.06L9.06 8l.97.97a.75.75 0 1 1-1.06 1.06L8 9.06l-.97.97a.75.75 0 0 1-1.06-1.06L6.94 8l-.97-.97a.75.75 0 0 1 0-1.06Z' clip-rule='evenodd' /></svg>";
        return new MarkupString(svg);
    }
}