@page "/admin/payments/currency-settings"
@layout AdminLayout
@using CraftConnect.WebUI.Components.AdminPagesComponents.CurrencySettingsPageComponents
@using CraftConnect.WebUI.Components.Layout.AdminPageLayouts

<div class="currency-settings-container">
    <!-- Page Header -->
    <header class="page-header">
        <h1>Currency Settings</h1>
        <button class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" /></svg>
            Add New Currency
        </button>
    </header>
    <p class="page-description">
        Manage the currencies your platform supports. Set a default currency and manage exchange rates.
    </p>

    <!-- Search Bar -->
    <div class="search-bar-wrapper">
        <div class="search-input-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" /></svg>
            <input type="text" placeholder="Filter currencies by name or code" />
        </div>
    </div>

    <!-- Table Container -->
    <div class="table-container">
        <table class="currency-table">
            <thead>
                <tr>
                    <th class="col-default">Default</th>
                    <th>Currency</th>
                    <th>Code</th>
                    <th>Symbol</th>
                    <th>Exchange Rate</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var currency in currencies)
                {
                    <tr>
                        <td class="col-default">
                            <input type="radio" name="default-currency" checked="@currency.IsDefault" />
                        </td>
                        <td class="cell-currency-name">@currency.CurrencyName</td>
                        <td>@currency.Code</td>
                        <td>@currency.Symbol</td>
                        <td>@currency.ExchangeRate.ToString("F4")</td>
                        <td>
                            <CurrencyStatusBadge Status="@currency.Status" />
                        </td>
                        <td class="cell-actions">
                            <a href="#" class="action-link">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Table Footer -->
    <div class="table-footer">
        <button class="btn-page-nav">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" /></svg>
            Previous
        </button>
        <div class="page-numbers">
            <button class="btn-page active">1</button>
            <button class="btn-page">2</button>
            <button class="btn-page">3</button>
            <span class="page-ellipsis">...</span>
            <button class="btn-page">8</button>
            <button class="btn-page">9</button>
            <button class="btn-page">10</button>
        </div>
        <button class="btn-page-nav">
            Next
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" /></svg>
        </button>
    </div>
</div>

@code {
    private List<AdminCurrency> currencies = new();

    protected override void OnInitialized()
    {
        // Mock data from the image
        currencies = new List<AdminCurrency>
        {
            new AdminCurrency { Id = Guid.NewGuid(), IsDefault = true, CurrencyName = "US Dollar", Code = "USD", Symbol = "$", ExchangeRate = 1.0000m, Status = "Active" },
            new AdminCurrency { Id = Guid.NewGuid(), IsDefault = false, CurrencyName = "Euro", Code = "EUR", Symbol = "€", ExchangeRate = 0.9200m, Status = "Active" },
            new AdminCurrency { Id = Guid.NewGuid(), IsDefault = false, CurrencyName = "British Pound", Code = "GBP", Symbol = "£", ExchangeRate = 0.7900m, Status = "Active" },
            new AdminCurrency { Id = Guid.NewGuid(), IsDefault = false, CurrencyName = "Japanese Yen", Code = "JPY", Symbol = "¥", ExchangeRate = 157.25m, Status = "Inactive" }
        };
    }
}