@using CraftConnect.WASM.ViewModels
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavManager

<div class="proposal-sidebar-card">
    <div class="card-header">
        <div class="craftsman-info">
            <img class="avatar" src="@Proposal.CraftsmanAvatarUrl" alt="@Proposal.CraftsmanName" />
            <span class="name">@Proposal.CraftsmanName</span>
        </div>
        <span class="price">@Proposal.Price.ToString("C0")</span>
    </div>
    <p class="quote">@Proposal.QuoteSummary</p>
    <div class="card-actions">
        <button class="btn btn-accept">Accept</button>
        <button class="btn btn-message">Message</button>
    </div>
</div>

@code {
    [Parameter] public CustomerProposalVM Proposal { get; set; } = new();
    [Parameter] public Guid ProjectId { get; set; } // Pass this down from parent

    private async Task AcceptProposal()
    {
        var client = HttpClientFactory.CreateClient("BFF");
        var response = await client.PostAsync($"/customerprojects/{ProjectId}/proposals/{Proposal.Id}/accept", null);

        if (response.IsSuccessStatusCode)
        {
            NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
        }
    }
}
