@page "/find-craftmen"
@using Core.SharedKernel.Domain
@using CraftConnect.WASM.DTOs
@using CraftConnect.WASM.ViewModels
@using CraftConnect.WASM.Components.FindCraftsmenPageComponents
@using CraftConnect.WASM.Components.SharedComponents
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<div class="search-page-container">
    <FindCraftmentNavbar CustomerId="@CustomerId" />
    <div class="intro-section">
        <h1>Find Skilled Craftsmen</h1>
        <p>Browse our community of talented artisans and find the perfect match for your project.</p>
    </div>

   @if (IsLoading)
    {
        <p class="loading-message">Loading craftsmen...</p>
    }
    else if (CraftsmenVM!.Count > 0)
    {
        <div class="results-grid">
            @foreach (var craftsman in CraftsmenVM)
            {
                <CraftmanCard Craftsman="@craftsman" CraftsmanId="@craftsman.Id" />
            }
        </div>
        <Pagination CurrentPage="@SearchParameters.PageNumber"
                    TotalPages="@TotalPages"
                    OnPageChange="HandlePageChange" />
    }
    else
    {
        <p class="no-results">No craftsmen match your search criteria.</p>
    }
</div>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }
    public Guid CustomerId { get; set; }
    private List<CraftmanViewModel>? CraftsmenVM { get; set; }
    private CraftsmanSearchParametersViewModel SearchParameters { get; set; } = new();
    private bool IsLoading { get; set; } = true;
    private string? ErrorMessage { get; set; }
    private int TotalItems; 
    private int TotalPages => (int)Math.Ceiling((double)TotalItems / SearchParameters.PageSize);

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;
        var user = authState.User;
        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            var userIdClaim = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

            if (Guid.TryParse(userIdClaim, out var parsedId))
            {
                CustomerId = parsedId;
            }
            await LoadCraftsmenAsync();
        }
        else
        {
            await LoadCraftsmenAsync();
        }        
    }

    private async Task HandleSearch()
    {
        SearchParameters.PageNumber = 1;
        await LoadCraftsmenAsync();
    }

    private async Task HandlePageChange(int page)
    {
        SearchParameters.PageNumber = page;
        await LoadCraftsmenAsync();
    }

    private async Task LoadCraftsmenAsync()
    {
        IsLoading = true;
        ErrorMessage = null;
        StateHasChanged();
        try
        {
            var httpClient = HttpClientFactory.CreateClient("BFF");
            var response = await httpClient.GetAsync("/craftmen/get-craftsmen");
            if (response.IsSuccessStatusCode)
            {
                var craftsmen = await response.Content.ReadFromJsonAsync<List<CraftmanResponseDTO>>();
                
                if(craftsmen != null)
                {
                    TotalItems = craftsmen.Count;
                    CraftsmenVM = craftsmen.Select(MapToViewModel).ToList();
                }
            }
            else
            {
                ErrorMessage = "Failed to load data from server.";
            }
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            ErrorMessage = "An unexpected error occurred.";
        }
        finally
        {
            IsLoading = false;
        }        
    }

    private CraftmanViewModel MapToViewModel(CraftmanResponseDTO dto)
    {
        return new CraftmanViewModel
        (
            Id: dto.CraftmanId,
            ImageUrl: GetOptimizedUrl(dto.ProfileImageUrl),
            Name: $"{dto.FirstName} {dto.LastName}",
            Description: string.IsNullOrEmpty(dto.Bio) ? $"Professional {dto.Profession}" : dto.Bio,
            ExperienceSummary: $"{dto.WorkExperience?.Count ?? 0} past roles listed.",
            Badge: dto.VerificationStatus == "Verified" ? "Verified Pro" : "Member",
            Rating: 5.0M,
            ReviewCount: 0
        );
    }

    private string GetOptimizedUrl(string? originalUrl)
    {
        if (string.IsNullOrEmpty(originalUrl)) return "/images/default-avatar.png";
        return originalUrl.Replace("/upload/", "/upload/w_400,h_300,c_fill,q_auto,f_auto/");
    }
}
