@using Core.SharedKernel.Domain
@using CraftConnect.WASM.ViewModels
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using static CraftConnect.WASM.Pages.AvailableProjects
@inject NavigationManager NavManager

<div class="project-card">
    <div class="card-header">
        <div class="user-avatar-box"
             style="background-image: url('@(string.IsNullOrEmpty(Project.UserAvatarUrl) ? "/images/user-avatar.jpg" : Project.UserAvatarUrl)');">
        </div>
        <div class="project-info">
            <h4>@Project.Title</h4>
            <p class="description">
                @((Project.Description.Length > 100) ? Project.Description.Substring(0, 100) + "..." : Project.Description)
            </p>
        </div>
    </div>

    <div class="project-tags">
        @foreach (var tag in Project.Tags)
        {
            <span class="skill-tag">@tag</span>
        }
    </div>

    <div class="project-details">
        <div class="detail-row">
            <i class="bi bi-cash-stack"></i>
            <span class="budget-range">@Project.BudgetRange</span>
        </div>
        <div class="detail-row">
            <i class="bi bi-calendar-check"></i>
            <span class="deadline-text">@Project.Deadline</span>
        </div>
        <div class="detail-row">
            <i class="bi bi-geo-alt"></i>
            <span class="location-text">@Project.Location</span>
        </div>
    </div>

    <div class="card-actions">
        <button class="btn btn-view-details" @onclick="ViewDetails">View Details</button>
        <button class="btn btn-submit-proposal" @onclick="SubmitProposal" disabled="@IsUserSameAsCustomer">
            @if (IsUserSameAsCustomer)
            {
                <span disabled>You are the Owner</span>
            }
            else
            {
                <span>Submit Proposal</span>
            }
        </button>
    </div>
</div>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; } = default!;

    [Parameter]
    public ProjectViewModel Project { get; set; } = default!;

    [Parameter]
    public Guid CustomerId { get; set; }

    private bool IsUserSameAsCustomer { get; set; } = false;

    private void ViewDetails()
    {
        NavManager.NavigateTo($"/projects/{Project.Id}");
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateTask;
        var user = authState.User;
        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            var userIdClaim = user.FindFirst(ClaimTypes.NameIdentifier);
            if (userIdClaim is not null)
            {
                var userId = Guid.Parse(userIdClaim.Value);
                IsUserSameAsCustomer = userId == CustomerId;
            }
        }
    }

    private async Task SubmitProposal()
    {
        NavManager.NavigateTo($"/proposal/create/{Project.Id}");
    }
}